@import 'https://fonts.googleapis.com/css?family=Karla|Slackey|Sriracha';
body {
  background: radial-gradient(ellipse at center, #dcdcde 10%, #86898e 90%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  perspective: 1000px;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}
@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
  }
  
  .invitation {
      width: 95%;
      margin-bottom: 10px;
  }
}

* {
  outline: none;
}

.invitation {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.envelope {
  background: #011745;
  width: 100%;
  height: 307.6923076923px;
  position: relative;
  z-index: 1;
}
.envelope.is-open:before, .envelope.is-open:after {
  z-index: -2;
}

.envelope:before,
.envelope:after {
  content: "";
  position: absolute;
  bottom: 0;
}

.envelope:before {
  right: 0;
  border-bottom: 0px solid transparent;
  border-top: 307.6923076923px solid transparent;
  border-right: 500px solid #ddd6d0;
  z-index: 1;
}

.envelope:after {
  left: 0;
  border-bottom: 0px solid transparent;
  border-top: 307.6923076923px solid transparent;
  border-left: 500px solid #e9e4df;
  z-index: 1;
}

.flap {
  border-right: 250px solid transparent;
  border-top: 153.8461538462px solid #fbf6f0;
  border-left: 250px solid transparent;
  position: absolute;
  left: 0;
  top:0;
  transform-origin: 50% 0%;
  z-index: 2;
  

}

.mask {
  box-sizing: border-box;
  -webkit-clip-path: inset(0 0 50% 0);
          clip-path: inset(0 0 50% 0);
  overflow: hidden;
  position: relative;
  width: 480px;
  height: 2010px;
  z-index: 0;
  margin: auto;
  top: 50%;
  transform: translate(0, -50%);
  perspective: 1200px;
}

.card {
  position: relative;
  width: 480px;
  height: 670px;
  margin: auto;
  transform-style: preserve-3d;
  transform-origin: 50% 10%;
  transform: translate(0, 128%) rotateY(0deg);
}

.face {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: transparent 50% 100%/auto 100% no-repeat;
  box-shadow: 0 3px 6x rgba(0, 0, 0, 0.3);
}
.face:last-of-type {
  transform: translateZ(-3px) rotateY(180deg);
  background-size: 110% auto;
}

.front {
  background-image: url('Prancheta\ 1.jpg');
}
.front h1 {
  
}
.front h1 img {
  
}
.front h1 span {
 
}
.front h1 .extrude {
  
}

.face.back {
  background-image: url('Prancheta\ 2.jpg');
  color: #000;
  overflow: hidden;
}
.face.back img {
  position: absolute;
  top: 26%;
  display: inline-block;
  width: 90px; /* Reduzindo de 90% para 70% */
  max-width: 300px; /* Definindo um limite máximo */
  height: auto; /* Mantendo a proporção */
  left: 50%;
  transform: translate(-50%, 0);
}

.link-1 {
  position: absolute;
  top: 140px;
  left: 50%;

  transform: translateX(-50%);
}

.link-2 {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
}

.link-3 {
  position: absolute;
  top: 380px;
  left: 50%;
  transform: translateX(-50%);
}


button {
  font: normal 1.25em "Poppins", sans-serif;
  padding: 15px 30px;
  border-radius: 30px;
  background: #002776;
  color: #ffffff;
  border: none;
  position: absolute;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  left: 50%;
  top: 155px;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  z-index: 1;
  cursor: pointer;
  transition: background 0.3s ease-out, color 0.3s ease-out;
}
button.invert {
  color: #ffffff;
  background: #8ba7f1;
}